@import './../variables';

.categories {
  flex: 1;
  max-width: 80%;
  overflow: auto;

  @media (max-width: 768px) {
    max-width: 100%;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    padding: 5px 0px;
    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transform: translateY(0);
      transition: background-color 0.3s ease-in-out;
      @include noselect();
      @media (max-width: 1229px) {
        padding: 13px 20px;
      }
      @media (max-width: 1090px) {
        padding: 8px 15px;
      }
      @media (max-width: 1025px) {
        padding: 8px 7px;
      }
      @media (max-width: 887px) {
        padding: 7px 5px;
        font-size: 14px;
      }
      @media (max-width: 815px) {
        font-size: 12px;
      }
      @media (max-width: 768px) {
        font-size: 14px;
      }

      &:hover {
        background-color: darken(#f9f9f9, 2%);
        transform: translateY(-1px);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
