@import './../variables';

.pizza-block {
  width: 100%;
  text-align: center;
  margin-bottom: 65px;
  transform: translateY(0);
  -webkit-transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 7px;
  &:hover{
    transform: translateY(-5px);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 1090px) {
    margin-bottom: 35px;
  }

  @media (max-width: 768px) {
    &:not(:last-of-type) {
      border-bottom: 1px solid #efefef;
      margin-bottom: 25px;
      padding-bottom: 45px;
    }
  }

  &__image {
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        transform: translateY(0);
        -webkit-transition: all 0.3s ease;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
        &.disabled {
          opacity: 0.4;
          pointer-events: none;
        }
        &:hover {
          transform: translateY(-1px);
          background: #f6f6f6;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}